* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Madimi One", sans-serif;

}

h1 {
    color: rgb(143, 31, 68);
    background-color: cadetblue;
}

p {
    color: rgb(90, 168, 236);
    background-color: rgb(54, 17, 3);
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5em;
}

button {
    padding: 15px;
    background-color: rgb(77, 158, 230);
    color: aliceblue;
    text-transform: uppercase;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    width: 400px;
    height: 300px;
}

a,a:link {
    font-size: 60px;
    text-decoration: none;
    color: rgb(119, 128, 127);
    transition: all 0.5s;
}

a:visited {
    color: rgb(144, 211, 238);
}

a:hover {
    color: rgb(218, 221, 57);
    text-decoration: underline;
    font-weight: bold;

}
a:active{
    color: red;
}